<!DOCTYPE html>
<html ng-app = "routeApp">
    <head>
       <title>posting</title>
       <meta charset="utf-8">
       <!-- Css -->
       <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
       <link href="../CSS/myCostumCSS.css" rel="stylesheet">
       <!-- Scripts -->
       <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
       <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.js"></script>
       <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.1.1.js"></script>
       <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
       <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    </head>
    <body>
        <div class="banner">
                <img src="../resources images/western Eng Logo.png" class = "icon-btn" align="left">
                ECE 9065B 
                <button class="pull-right icon-btn" type="button" ng-controller = "logoutcontroller" ng-click= "logout()"><img class="pull-right icon-btn" src="../resources images/logout.png"></button>
        </div>
            <div  class="btn-group" uib-dropdown is-open="status.isopen">
                <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                            Select an option <span class="caret"></span>
                </button>
                <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li role="menuitem"><a href="#Post">Post</a></li>
                    <li role="menuitem"><a href="#PostsTracking">PostsTracking</a></li>
                    <li role="menuitem"><a href="#Comments">Comments</a></li>
                </ul>
            </div>
            <div align = "center"  ng-controller = "titlecontroller">
                {{ PostTitle }}
            </div>
            <h1>Tracked Comments</h1>
            <div align = "center" ng-controller = "retrievecommentscontroller">
                    <textarea text-align:center name="content" rows="10" cols="50" style="overflow-y:scroll" ng-model = "comments">
                            Comments list with social media icons of each comment
                    </textarea>
            </div>
            <!--<div class = "pull-right btn-group1"> -->
            <!--    <input type="checkbox" id="facebook_comments_checkbox"><button type="button" class="btn btn-large" id="facebook_comments_button" >Facebook</button><br><br><br>-->
            <!--    <input type="checkbox" id="twitter_comments_checkbox" ><button type="button" class="btn btn-large" id="twitter_comments_button" >Twitter</button><br><br><br>-->
            <!--    <input type="checkbox" id="linkedin_comments_checkbox"><button type="button" class="btn btn-large" id="linkedin_comments_button" >LinkedIn</button>-->
            <!--</div>-->
    </body>
</html>