body
{
background:url("../resources images/Western Background.jpg");
background-size: cover;
background-repeat:no-repeat;
background-attachment:fixed

}



.icon-btn{
    width:150px;
    height:30px;
    position:relative;
}
.banner{
    background-color: #92CDDC;
	text-align: center;
	font-size: 1.5em;
	color: white;
	padding: 2px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	position:relative;
	width:100%;
	height:10%;
	z-index:1;
}

.btn-group{
    position:absolute;
    left:0px;
    top:5%;
}
.btn-group1{
    position:absolute;
    top:15%;
    right:25%;
}

h1{
    font-size:20px;
    text-align:center;
}

